<%- include("partials/header.ejs") %>

    <% if (locals.bookReview) { %>
        <form action="/editpost" method="post">
        <input type="text" name="updateTitle" value="<%= bookTitle %>">
        <input type="text" name="updateBookReview" value="<%= bookReview %>">
        <input type="text" name="updateRating" value="<%= bookRating %>">
        <input type="submit" value="Submit">
        </form>
    <% } else { %>
        <form action="/post" method="post">
        <input type="text" name="newTitle">
        <input type="text" name="newBookReview">
        <input type="text" name="newRating">
        <input type="submit" value="Submit">
        </form>
    <% } %>


<%- include("partials/footer.ejs") %>