<%- include("partials/header.ejs") %>
                                                    <!-- Sort data form -->
<div class="sort__box">
    <div class="sort__options">
        <form action="/sort" method="post">
            <label for="sortTitle">Title:</label>
            <select name="sortTitle" id="">
                <option value=""></option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
            <label for="sortRating">Rating</label>
            <select name="sortRating" id="">
                <option value=""></option>
                <option value="DESC">Highest</option>
                <option value="ASC">Lowest</option>
            </select>
            <label for="sortDate">By date:</label>
            <select name="sortDate" id="">
                <option value=""></option>
                <option value="ASC">Oldest</option>
                <option value="DESC">Recent</option>
            </select>
            <button type="submit" name="sortBooks">Sort</button>    
        </form>
        </div>
</div>
                                                <!-- Cycle database into elements -->
    <div class="book__box">
        <% for (let book of allBooks) { %>
            <h3><%= book.book_title %></h3>
            <div>by <%= book.author_name %></div>
            <img src="<%= book.book_cover %>" alt="book_cover">

            <h2 class="review__title"><%= book.review_title %></h2>
            <h6 class="review__date"><%= book.date %></h6>
            <p class="review__paragraph"><%= book.review %></p>
            <div class="review__rating"><%= book.rating %>/10</div>
            <form action="/delete" method="post">
                <button type="submit" value="<%= book.id %>" name="deleteBook">Delete</button>
            </form>
            <form action="/edit" method="post">
                <button type="submit" value="<%= book.id %>" name="updateBook">Edit</button>
            </form>
            <% } %>
    </div>


<%- include("partials/footer.ejs") %>